torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1

torchmetrics
numpy==1.26.4
IPython
tqdm
matplotlib
pandas
wandb
comet_ml
huggingface_hub
hydra-core
librosa
nisqa
omegaconf
pesq
pystoi
setuptools
ffmpeg

black
isort
pre-commit
